@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.woff") format("woff");
}

.card {
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(233, 233, 233, 1);
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}

.card__image-wrapper {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 19px;
}
.card__name {
  padding: 8px;
  display: flex;
  top: 15px;
  left: 95px;
  margin: 0;
  width: 72px;
  height: 24px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  object-fit: cover;
  display: block;
}

.card__info {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.card__like-button {
  top: 28px;
  right: 118px;
  width: 18px;
  height: 15px;
  background-image: url("../../assets/StateUnliked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card__like-button--active {
  background-image: url("../../assets/StateLiked.png");
}

.itemCard__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
