@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.woff") format("woff");
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.header__toggle-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px;
  color: rgba(0, 0, 0, 0.5);
}

.header__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
