@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.woff") format("woff");
}

.sidebar {
  display: flex;
  width: 229px;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
}
