@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.woff") format("woff");
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 229px;
  gap: 24px;
}

.sidebar__edit-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border: 1px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}

.sidebar__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  gap: 8px;
}

.sidebar__username {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
}
.sidebar__button {
  background: none;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
  cursor: pointer;
  padding: 4px 0;
  text-align: left;
}
