@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.woff") format("woff");
}

.clothes-section {
  width: 100%;
  margin: 0;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 116px;
  padding: 0;
  gap: 20px;
}
